body{
    background-image: url("../images/20181102_105955.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* CSS FOR HEADDING AND NAV-BAR */
#Head {
    padding: 1%;
    background: #222222;
    opacity: 0.9;
    overflow: hidden;
    position: relative;
}

#nameAndImage {
    height: fit-content;
}

#Name {
    margin-left: 2%;
    font-family: 'Mr Dafoe', cursive;
    color: white;
    margin-bottom: 0;
}

#myNav {
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    width: 100%;
    background-color: #222222;
    opacity: 0.9;
    padding: 1.5%;
}

#meImg {
    border-radius: 50%;
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1%;
    display: inline;
}

/* CSS FOR MAIN BODY OF PAGE */

#mainJumboTron {
    margin-top: 2%;
    color: white;
    background-color: #888888;
    opacity: 0.9;
}

/* CSS FOR FOOTER AND CONTENTS */
footer {
    background: #222222;
    position: fixed;
    bottom: 0;
}

.contact-info {
    font-family: 'Quicksand', sans-serif;
    color: white;
    bottom: 0;
    width: 100%;
    padding: .5%;
    margin: 0;
  }
  
  .contact-info a {
    color: white;
  }
  
  .contact-info a:hover {
    color: grey;
  }