/*Name: Matthew LeBlanc
  email: matthew_leblanc1@student.uml.edu
  last updated: 10/9/2018*/


/*Clear fix to make floating easier.*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix { height: 1% }
.clearfix { display: block; }
/*to make the page not have a horizontal scroll bar.*/
body {
  overflow-x: hidden;
}
/*set font and other stylings for the header of the page.*/
.index-header {
  font-family: 'Amatic SC';
  font-size: 20px;
  background: #09661C;
  color: #8F0223;
  width: 100%;
  margin: 0;
  padding: 2%;
}
/*Styling the header for the page.*/
.head-of-page {
  display: inline;
}
/*Style the h1 heading within the header.*/
.index-header h1 {
  width: 70%;
  margin: 0;
  padding: 2%
}
/*Add the image to the header.*/
.head-of-page img {
  border-radius: 50%;
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1%;
  display: inline;
}
/*Styling for the nav bar.*/
.main-nav {
  margin-top: .5%;
  color: #FFF;
  float: left;
  width: 100%;
}
.main-nav ul {
  margin: 0;
  list-style: none;
}
.main-nav ul li {
  color: white;
  padding: 1%;
  display: inline;
}
.main-nav ul li a:hover {
  color: white;
}
/*Style links*/
a {
  color: #888;
  text-decoration: none;
}
/*Style the font and background color for the rest of the page*/
main {
  font-family: "Courier New";
  background: white;
  color: black;
  font-size: 16px;
}
/*Make a wrapper class and space things into containers.*/
.col-wrapper {
  width: 100%;
  margin: 0 auto;
}
/*Stylings for the text about me.*/
.intro-text {
  margin-right: 0;
  float: left;
  padding: 1%;
  width: 57%;
}
/*Adding styles to the p tag in the intro-text classes-taken*/
.intro-text p {
  float: left;
  width: 68%;
  padding: 1%;
}
/*Add image below the text.*/
.intro-text img{
  float: right;
  /*margin-left: 30%;*/
  width: 30%;
  height: 15%;
  border-radius: 5%;
}
/*Classes taken poriton of text and is styled to the right.*/
.classes-taken {
  margin: 0;
  float: right;
  padding: 1%;
  width: 37%;
}
/*heading 2 for final text on page is aligned.*/
.work-experience h2 {
  text-align: center;
}
/*Style the work experience text.*/
.work-experience {
  width: 80%;
  padding: 2%;
  margin: auto;
}
/*Style the list called goals-text*/
.goals-text {
  padding: 2%;
}
/*Footer and contact info*/
.contact-info {
  /*background info*/
  background: black;
  /*position of footer*/
  bottom: 0;
  width: 100%;
  color: white;
  font-family: "Courier New";
  padding: 2%;
  margin: 0;
}

.contact-info a {
  color: white;
}

.contact-info a:hover {
  color: grey;
}
