.custom-background {
  background-image: url("../images/background-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-font {
  font-family: 'Trirong', serif;
}

.mult-table:first-child {
  /*background-color: #87148A;*/

}
