/* Matthew LeBlanc
  email: matthew_leblanc1@student.uml.edu */

.container {
  color: white;
}

#mul-table {
  color: white;
}

/* Background gif from: https://codemyui.com/falling-snowflake-background-animation-pure-css/ */
.custom-background {
  background-image: url("../images/pure-css-snow-animation.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo-font {
  font-family: 'Trirong', serif;
}

/* Background image from: http://getwallpapers.com/collection/night-snow-wallpaper-background*/
.jumbotron {
  color: white;
  background-image: url("../images/WinterNight.jpg");
  background-size: cover;
}

#ciCustom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#cfCustom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

#riCustom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

#rfCustom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

#dialog label, #dialog input { display:block; }
  #dialog label { margin-top: 0.5em; }
  #dialog input, #dialog textarea { width: 95%; }
  #tabs { margin-top: 1em; }
  #tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
  #add_tab { cursor: pointer; }